<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    名称空间：
-->
<mapper namespace="classRoom">
    <select id="selectRoom" parameterType="map" resultType="com.schedule.geneticschedulespringboot.pojo.ClassRoom">
        SELECT * FROM classrooms
        WHERE 1=1
        <if test="campus != null">
            AND campus = #{campus}
        </if>
        <if test="roomType != null">
            AND type = #{roomType}
        </if>
    </select>

    <select id="selectAllRoom" resultType="com.schedule.geneticschedulespringboot.pojo.ClassRoom">
        SELECT * FROM classrooms
    </select>
</mapper>